[Unit]
Description=LoRa GPS Node (NEO-6M → LoRa TX)
After=local-fs.target
Wants=local-fs.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/lora_project
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/pi/lora_project/.venv/bin/python /home/pi/lora_project/lora_node.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
